langchain
langchain-community
langchain-text-splitters
sentence_transformers
langchain_huggingface
langchain-groq
duckduckgo_search==5.3.1b1
validators==0.28.1
youtube_transcript_api
unstructured
huggingface_hub
streamlit
python-docx
